.toc {
  /* border-left: 2px solid #ddd; */
  /* padding-left: 10px; */
  font-size: 14px;
}

.toc ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

.toc li {
  margin: 4px 0;
}

.toc a {
  text-decoration: none;
  color: #555;
}

.toc a:hover,
.toc .active > a {
  color: #0d6efd; /* xanh Bootstrap */
  font-weight: bold;
}

.article-post pre {
  background-color: #eeeeee;
  padding: 8px;
  border-radius: 4px;
}

.copy-code {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
  padding: 2px;
  border: none;
  border-radius: 4px;
  background: #dddddd;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.copy-code:hover {
  background: #cfcfcf;
}

.copy-code:focus {
  border: none;
  outline: none;
}
